<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Resources for Activism</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">

      <div class="card-deck">

        <div class="card d-flex flex-column">
          <%= image_tag("cube-of-truth.jpg", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Cube of Truth</h5>
            <p class="card-text">
              A Cube of Truth is a peaceful street activism demonstration.
              Some activists stand still in a cube-formation, showing footage of the animal-industry,
              while other activists talk to interested onlookers.
            </p>
            <p class="card-text">
              It's great, because it is <strong>effective</strong> and <strong>beginner-friendly</strong>.
            </p>
          </div>
          <a href="https://www.anonymousforthevoiceless.org/" class="btn btn-lg btn-success mt-auto m-3">www.anonymousforthevoiceless.org/</a>
        </div>

        <div class="card d-flex flex-column">
          <%= image_tag("pig_pet.png", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Animal Sanctuary</h5>
            <p class="card-text">
              Animal sanctuaries save and protect animals.
            </p>
            <p class="card-text">
              Find an animal sanctuary near you and support them financially or physically.
            </p>
            <p class="card-text">
              Animal sanctuaries show that it is possible to live with animals without slitting their throats.
              They show that we don't have to kill animals.
            </p>
            <p class="card-text">
              Please make sure whether the sanctuary at hand is really animal-friendly.
              Sometimes they're labelled but abuse is present.
            </p>
          </div>
          <a href="#" class="btn btn-lg btn-success mt-auto m-3">Read More</a>
        </div>
        <div class="card d-flex flex-column">
          <%= image_tag("govegan1.jpg", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Vigil</h5>
            <p class="card-text">
              They transform you and make you a better activist.
            </p>
          </div>
          <a href="#" class="btn btn-lg btn-success mt-auto m-3">Become Vegan</a>
        </div>
      </div>
    </div>
  </div>


</main>
