<main role="main" class="bg-light">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Let's be better to Animals</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">

      <div class="card-deck">

        <div class="card d-flex flex-column">
          <%= image_tag("pigs.jpg", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Animal Ethics</h5>
            <p class="card-text">Get to know the most important arguments in Animal Ethics and learn basic concepts and ideas.</p>
          </div>
          <a href="#" class="btn btn-lg btn-success mt-auto m-3">Get Started</a>
        </div>

        <div class="card d-flex flex-column">
          <%= image_tag("outreach-cube.jpg", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Resources for Activism</h5>
            <p class="card-text">
              There are different forms of activism available.
              Find out what you can do for the animals.
            </p>
          </div>
          <%= link_to "Read More", activism_path, class: "btn btn-lg btn-success mt-auto m-3" %>
        </div>
        <div class="card d-flex flex-column">
          <%= image_tag("govegan1.jpg", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Go Vegan</h5>
            <p class="card-text">
              By buying milk, cheese, meat and eggs, you support a cruel and fucked up industry.
              Don't be a part of it.
            </p>
          </div>
          <a href="#" class="btn btn-lg btn-success mt-auto m-3">Become Vegan</a>
        </div>
      </div>
    </div>
  </div>

</main>
