<div class="container my-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @lession.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @lession.description %></h6>
      <p class="card-text">
        Keywords: <%= @lession.keywords %>
      </p>
      <hr />
      <p class="card-text">
        <%= @lession.content %>
      </p>
    </div>
  </div>
</div>
