<header>
  <div class="collapse bg-dark" id="navbarHeader">
   <div class="container">
     <div class="row">
       <div class="col-sm-8 col-md-7 py-4">
         <h4 class="text-white">About</h4>
         <p class="text-muted">
           This website provides lessions on <strong>animal ethics</strong>
           and resources for activism.
         </p>
         <p class="text-muted">
           Check out the stuff below!
         </p>
       </div>
       <div class="col-sm-4 offset-md-1 py-4">
         <h4 class="text-white">Contact</h4>
         <ul class="list-unstyled">
           <li><%= mail_to "sandro.raess@philosophie.ch", "e-Mail", class: "text-white" %></li>
         </ul>
       </div>
     </div>
   </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
   <div class="container d-flex justify-content-between">
     <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <strong>Let's be better to Animals</strong>
     <% end %>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   </div>
  </div>
</header>
